/*GENERAL*/
html,
body {
  font-family: Raleway;
}
#bloc_page {
  padding-left: 20px;
  padding-right: 20px;
}
h1,
h2 {
  font-weight: bold;
}
/*navigation*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}
#ancres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo img {
  width: 100px;
  height: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-right: 15px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}
#inscrire {
  padding-top: 17px;
  color: #0065fc;
  font-weight: bold;
}
#recherche h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 8px;
}
form {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 370px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#map {
  border: 1px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
#searchButton {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: white;
  width: 110px;
  height: 40px;
  font-weight: bold;
}
input {
  border: none;
  width: 220px;
  height: 40px;
  padding-left: 20px;
  font-weight: bold;
}
#search {
  display: none;
}
#filtre {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin-top: 10px;
  font-weight: bold;
}
#liens a {
  text-decoration: none;
  color: black;
}
#liens a:hover {
  color: #0065fc;
}
#titre {
  padding-top: 10px;
  /*margin-right: 20px;*/
  padding-right: 10px;
  font-weight: bold;
}
#liens ul {
  display: flex;
  list-style-type: none;
}
#liens li {
  padding-right: 20px;
}
#liens i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebff;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
#eco,
#famille,
#romantique,
#animaux {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 35px;
  margin-right: 20px;
}
#billet,
#enfant,
#coeur,
#chien {
  text-align: center;
  padding-top: 7px;
}
#info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 5px 0px 0px 10px;
}
#reponse {
  margin: 30px 0px 30px 0px;
}
